@model List<Urun>
@{
    ViewData["Title"] = "Home Page";
}

<section class="slider pt-3">
    <div class="container">
        <main class="card">
            <div class="row p-lg-2 p-1">
                <aside class="d-none d-lg-block col-lg-3">
                    @await Html.PartialAsync("Partials/_Menu", ViewData["Kategoriler"])
                </aside>
                <div class="col-lg-9">
                    @await Component.InvokeAsync("Slider")
                </div>
            </div>
        </main>
    </div>
</section>

<section class="pt-3">
    <div class="container">
        <header>
            <h3 class="mb-md-3 mb-0">Son Eklenenler</h3>
        </header>

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
            @foreach(var urun in Model){
                <div class="col">
                    @await Html.PartialAsync("Partials/_UrunKart", urun)
                </div>
            }
        </div>
    </div>
</section>
