<nav class="nav nav-pills flex-column flex-nowrap overflow-auto slider__nav">
    <a class="nav-link active" href="">Elektronik</a>
    <a class="nav-link" href="">Moda</a>
    <a class="nav-link" href="">Kozmetik</a>
    <a class="nav-link" href="">Spor</a>
    <a class="nav-link" href="">Market</a>
    <a class="nav-link" href="">Kitap</a>
    <a class="nav-link" href="">Anne Bebek</a>
    <a class="nav-link" href="">Oyuncak</a>
    <a class="nav-link" href="">Oyuncak</a>
    <a class="nav-link" href="">Oyuncak</a>
</nav>