<section class="top-bar">
    <div class="container">
        <div class="row gy-3 align-items-center">
            <div class="col-lg-2 col-sm-4 col-4">
                <a href="/" class="navbar-brand">
                    <i class="fa-solid fa-truck-fast"></i>
                    E-Ticaret
                </a>
            </div>
            <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                <div class="text-end">
                    <a href="#" class="btn btn-light">
                        <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Hesabım</span>
                    </a>
                    <a href="#" class="btn btn-light">
                        <i class="fa fa-heart"></i> <span class="ms-1 d-none d-sm-inline-block">Favorilerim</span>
                    </a>
                    <a href="#" class="btn btn-light">
                        <i class="fa fa-shopping-cart"></i> <span class="ms-1 d-none d-sm-inline-block">Sepetim</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Anahtar Kelime">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>